.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.categoryImg {
  width: 200px;
  height: 200px;
}

.categoryCard__description {
  font-size: 14px;
  font-variant: small-caps;
}
