.city {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  align-items: center;
}

.city__toast {
  display: flex;
  height: 40px;
}

.city--add {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.city__inputWithLabel {
  display: flex;
  flex-direction: column;
}

.cityName {
  padding: 10px;
  outline: none;
  margin-right: 10px;
}

.addCityBtn {
  padding: 14px 28px;
  height: 40px;
  color: white;
  background-color: green;
  border: none;
  outline: none;
}
.error {
  color: red;
  font-weight: 400;
}
.city__item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}
