.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
}

.header__left > h2 {
  text-align: center;
}

.header__right {
  display: flex;
}
